<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  
<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
  #map {
    height: 400px;
    width: 100%;
  }
</style>

  <body>
      <!-- <%-// include("partials/wrap.ejs") %>-->
    <div class="sticky-top navbar-elixir">
      <div class="container">
        <%- include("partials/navbar.ejs") %>
      </div>
    </div>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section>
      <div class="bg-holder overlay" style="background-image:url(site/assets/img/background-2.jpg);background-position:center bottom;"></div>
      <!--/.bg-holder-->
      <div class="container">
        <div class="row pt-6" data-inertia='{"weight":1.5}'>
          <div class="col-md-8 text-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="overflow-hidden">
              <h1 class="text-white fs-4 fs-md-5 mb-0 lh-1" data-zanim-xs='{"delay":0}'>Contacto</h1>
              <div class="nav" aria-label="breadcrumb" role="navigation" data-zanim-xs='{"delay":0.1}'>
                <ol class="breadcrumb fs-1 ps-0 fw-bold">
                  <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Contacto</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end of .container-->
    </section><!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
     
      <section class="bg-100">
        <div class="container">
          <div class="row align-items-stretch justify-content-center mb-4">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="card h-100">
                <div class="card-body px-5">
                  <h5 class="mb-3">Localização</h5>
                  <p class="mb-0 text-1100"> Distrito urbano da Samba,<br />Rua da
                    cerâmica,<br />casa no 16</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="card h-100">
                <div class="card-body px-5">
                  <h5 class="mb-3">Contactos</h5>
                  <p class="mb-0 text-1100"> 943155982,<br />923464880</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="card h-100">
                <div class="card-body px-5">
                  <h5>Socials</h5><a class="d-inline-block mt-2" href="#!"><span class="fab fa-linkedin fs-2 me-2 text-primary"></span></a><a class="d-inline-block mt-2" href="#!"><span class="fab fa-twitter-square fs-2 mx-2 text-primary"></span></a><a class="d-inline-block mt-2" href="#!"><span class="fab fa-facebook-square fs-2 mx-2 text-primary"></span></a><a class="d-inline-block mt-2" href="#!"><span class="fab fa-google-plus-square fs-2 ms-2 text-primary"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body p-5 h-100">
                <div id="map"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-body h-100 p-5">
              <h5 class="mb-3">Contacte</h5>
              <form>
                <div class="mb-4"><input class="form-control bg-white" type="text" placeholder="Seu Nome" required="required" /></div>
                <div class="mb-4"><input class="form-control bg-white" type="email" placeholder="Email" required="required" /></div>
                <div class="mb-4"><textarea class="form-control bg-white" rows="11" placeholder="Assunto..." required="required"></textarea></div><button class="btn btn-md-lg btn-primary" type="Submit"> <span class="color-white fw-600">Enviar</span></button>
              </form>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->

    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



    <!-- ============================================-->
    <!-- <section> begin ============================-->
        <%- include("partials/footer.ejs")  %>
  </body>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>
    var map = L.map('map').setView([-8.874880348173035, 13.195995241559162], 15); // Defina a localização inicial do mapa
        
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([-8.874880348173035, 13.195995241559162]).addTo(map)  // Adicione um marcador no mapa
      .bindPopup('Kimba Business Lda')
      .openPopup();
  </script>
<!-- Mirrored from prium.github.io/elixir/v3.0.0/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Sep 2024 14:49:13 GMT -->
</html>