<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Kimba | Business &amp; LDA</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="site/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="site/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="site/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="site/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="site/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="site/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="site/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="site/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="site/vendors/hamburgers/hamburgers.min.css" rel="stylesheet">
    <link href="site/vendors/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="site/assets/css/theme.min.css" rel="stylesheet" />
    <link href="site/assets/css/user.min.css" rel="stylesheet" />
    <link rel="preconnect" href="../../../fonts.googleapis.com/index.html">
    <link rel="preconnect" href="../../../fonts.gstatic.com/index.html" crossorigin="">
    <link href="../../../fonts.googleapis.com/css2500c.css?family=Montserrat:wght@300;400;500;600;700&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
    <style>
      .whatsapp-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #25d366;
        color: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        font-size: 30px;
        line-height: 60px;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
        text-decoration: none;
      }
    </style>
  </head>